@use "global" as *;

.c-logo{
  display: block;
  width: rem(220);
  font-family: $third-font-family;
  font-weight: $regular;
  letter-spacing: 0.02em;
  line-height: 1;
  color: $blue;
}

.c-logo__ja{
  font-size: rem(29);
  
  @include mq("md"){
    font-size: rem(21);
  }
}

.c-logo__en{
  font-size: rem(16);
  margin-top: rem(10);
  
  @include mq("md"){
    font-size: rem(14);
    margin-top: rem(8);
  }
}

.c-logo--white{
  color: $white;
}