@use "global" as *;

.c-top-scroll{
  width: rem(71);
  height: rem(71);
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  border-radius: rem(35);
  
  @include mq("md"){
    width: rem(35);
    height: rem(35);
  }

}

.c-top-scroll:hover{
  background-color: $blue2;
}

.c-top-scroll::after{
  content: "";
  display: block;
  width: rem(30);
  height: rem(30);
  border-top: rem(4) solid $blue;
  border-right: rem(4) solid $blue;
  transform:  translateY(6px) rotate(-45deg);
  transition: .3s;
  
  @include mq("md"){
    width: rem(15);
    height: rem(15);
    transform:  translateY(3px) rotate(-45deg);
  }
}

.c-top-scroll:hover:after{
  border-top: rem(4) solid $white;
  border-right: rem(4) solid $white;
}