<header class="l-top-header p-top-header is-fixed">
  <div class="p-top-header__inner">
    <h1 class="p-top-header__logo">
      <%- include('../component/_c-logo') %>
    </h1>

    <!-- PC-グローバルナビ -->
    <nav class="p-top-header__nav">
      <%- include('../project/_p-pc-global-nav') %>
    </nav>

</header>
