@use "global" as *;

.p-pc-global-nav{
  height: inherit;
  display: flex;
  text-align: center;

  @include mq("md"){
    display: none;
  }
}

.p-pc-global-nav__items{
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.p-pc-global-nav__items .p-pc-global-nav__btn{
  margin-left: rem(22);
}

.p-pc-global-nav__item{
  height: inherit;

  @media screen and (max-width: 840px) {
    height: rem(60);
  }

}

.p-pc-global-nav__item a{
  display: inline-block;
  height: inherit;
  padding: 0 rem(18);
  font-family: $base-font-family;
  font-size: rem(13);
  font-weight: $regular;
  color: $blue;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  @media screen and (max-width: 1240px) {
    padding: 0 rem(13);
  }

  @media screen and (max-width: 940px) {
    padding: 0 rem(10);
  }

  @media screen and (max-width: 840px) {
    padding: 0 rem(15);
  }

}

.p-pc-global-nav__item a::after{
  content: "";
  display: block;
  height: 5px;
  width: 0;
  background: $blue;
  position: absolute;
  bottom: rem(36);
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  
  @media screen and (max-width: 840px) {
    bottom: rem(12);
  }
}

.p-pc-global-nav__item a:hover:after{
  width: calc(100% - #{rem(34)});
}

.p-pc-global-nav__btn{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: rem(27);
}