@use "global" as *;
@use "sass:math";

.p-page-top__title{
  font-family: $base-font-family;
  font-size: rem(26);
  font-weight: $bold;
  letter-spacing: 0.05em;
  color: $blue;
  text-align: center;

  @include mq("xl"){
    font-size: rem(26);
  }
  @include mq("inner"){
    font-size: rem(26);
  }
  @include mq("md"){
    font-size: rem(20);
  }
  @include mq("sm"){
    font-size: rem(20);
  }
}

.p-page-top__body{
  display: flex;
  flex-direction: row-reverse;
  margin-top: rem(107);
  
  @include mq("md"){
    display: block;
    margin-top: rem(50);
  }
}

.p-page-top__text{
  width: 100%;
  max-width: rem(700);
  margin-right: rem(130);
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: 0.05em;
  color: $text-color;

  p + p {
    margin-top: rem(30);
  }

  @include mq("md"){
    margin: rem(30) 0 0;
  }
}

.p-page-top__image{
  width: 100%;
  max-width: rem(400);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.p-page-top__image::before{
  content: "";
  display: block;
  padding-top: math.div(300, 400) * 100%;
}

.p-page-top__image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

