@use "global" as *;
@use "sass:math";

.p-sub-mv{
  width: 100%;
  position: relative;
  height: math.div(350, 1920) * 100vw;
  
  @include mq("md"){
    height: math.div(250, 767) * 100vw;
  }
  @include mq("sm"){
    height: math.div(180, 375) * 100vw;
  }
}

.p-sub-mv__container{
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.p-sub-mv__container img{
  height: 100%;
  object-fit: cover;
}

.p-sub-mv__text{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.p-sub-mv__title{
  display: block;
  font-family: $third-font-family;
  font-size: rem(50);
  font-weight: $regular;
  letter-spacing: 0em;
  line-height: 1;
  color: $white;


  @include mq("xl"){
    font-size: rem(36);
  }
  @include mq("inner"){
    font-size: rem(30);
  }
  @include mq("md"){
    font-size: rem(24);
    line-height: 1.5;
  }
  @include mq("sm"){
    font-size: rem(20);
  }
}

.p-sub-mv__subtitle{
  display: block;
  font-family: $second-font-family;
  font-size: rem(24);
  font-weight: $medium;
  letter-spacing: 0.1em;
  line-height: 1;
  color: $white;
  text-transform: uppercase;
  margin-top: rem(50);

  @include mq("xl"){
    font-size: rem(18);
    margin-top: rem(36);
  }
  @include mq("inner"){
    font-size: rem(15);
    margin-top: rem(24);
  }
  @include mq("md"){
    font-size: rem(15);
    margin-top: rem(16);
  }
  @include mq("sm"){
    font-size: rem(10);
    margin-top: rem(10);
  }
}