@use "global" as *;


.p-service__text{
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  letter-spacing: 0.05em;
  color: $text-color;
  text-align: center;
  margin-top: rem(50);
  
  @include mq("md"){
    text-align: left;
  }
}

.p-service__box{
  width: 100%;
  margin-top: rem(37);
  border: 1px solid #ecedef;
}