@use "global" as *;


.p-top-concept__text{
  width: 100%;
  font-family: $base-font-family;
  font-size: rem(18);
  font-weight: $regular;
  letter-spacing: 0em;
  line-height: 1.7;
  color: $black2;
  margin-top: rem(45);
}

.p-top-concept__btn{
  text-align: center;
  margin-top: rem(38);
}