

<div class="p-about-reason l-about-reason">
  <div class="p-about-reason__inner l-inner">
    <div class="p-about-reason__header">
    <%- include('../project/_p-section-head',{modifier:'', title:'私たちが選ばれる理由', en:'reasons to choose'}) %>
    </div>
    <% const text = {
      image : 'reason01.jpg',
      title : '昭和40年開業、豊富な実績とノウハウ',
      text : "ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト",
    } %>
    <div class="p-about-reason__items">
      <%- include('../project/_p-media', {text: text}) %>
    </div>
  </div>
</div>