<div class="p-about-reason l-about-reason">
  <div class="p-about-reason__inner l-inner">
    <div class="p-about-reason__header">
    <%- include('../project/_p-section-head',{modifier:'', title:'私たちが選ばれる理由', en:'reasons to choose'}) %>
    </div>
    <div class="p-about-reason__items">
      
    </div>
  </div>
</div>