<div class="p-about-ceo l-about-ceo">
  <div class="p-about-ceo__inner l-inner">
    <div class="p-about-ceo__header">
    <%- include('../project/_p-section-head',{modifier:'', title:'代表あいさつ', en:'greeting'}) %>
    </div>
    <div class="p-about-ceo__contents">
      <div class="p-about-ceo__item">
        <div class="p-about-ceo__sub-name">●●会計事務所 所長／税理士・行政書士</div>
        <div class="p-about-ceo__name">代表　太郎<span>～DAIHYO TARO～</span></div>
        <div class="p-about-ceo__text">
          ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。ダミーテキスト、代表あいさつ文が入る予定です。
        </div>
      </div>
      <figure class="p-about-ceo__image">
        <img src="./images/about/ceo.jpg" alt="">
      </figure>
    </div>
  </div>
</div>