<% let path = '..'; %>

<div class="p-global-nav-sp">
  <ul class="p-global-nav-sp__items">
    <% navMenu.forEach( function( value ) { %>
      <li class="p-global-nav-sp__item"><a href="<%= path + '/' + value.link %>"><%- value.name %></a></li>
    <% }); %>
    <div class="p-global-nav-sp__btn">
      <%- include('../component/_c-btn-contact',{text:'お問い合わせはこちら', link:'#', modifier:'c-btn-contact--sp'}) %>
    </div>
  </ul>
</div>