<% let path = '..'; %>
<% navMenu = [
  {name:'ホーム', link:'index.html' },
  {name:'私たちについて', link:'about.html' },
  {name:'法人のお客様', link:'corporate.html' },
  {name:'個人のお客様', link:'personal.html' },
  {name:'法人設立をお考えの方', link:'hojin.html' },
  {name:'アクセス', link:'#' },
]; %>

<div class="p-global-nav-pc">
  <ul class="p-global-nav-pc__items">
    <% navMenu.forEach( function( value ) { %>
      <li class="p-global-nav-pc__item"><a href="<%= path + '/' + value.link %>"><%- value.name %></a></li>
    <% }); %>
  </ul>
  <div class="p-global-nav-pc__btn">
    <%- include(path + '/component/_c-btn-contact',{text:'お問い合わせはこちら', link:'#', modifier:''}) %>
  </div>
</div>