<ul class="p-pc-global-nav__items">
  <li class="p-pc-global-nav__item"><a href="#">ホーム</a></li>
  <li class="p-pc-global-nav__item"><a href="#">私たちについて</a></li>
  <li class="p-pc-global-nav__item"><a href="#">法人のお客様</a></li>
  <li class="p-pc-global-nav__item"><a href="#">個人のお客様</a></li>
  <li class="p-pc-global-nav__item"><a href="#">法人設立をお考えの方</a></li>
  <li class="p-pc-global-nav__item"><a href="#">アクセス</a></li>
</ul>
<div class="p-pc-global-nav__btn">
  <%- include('../component/_c-btn-contact',{text:'お問い合わせはこちら', link:'#', modifier:''}) %>
</div>