<div class="p-page-corporate-price p-price">
  <div class="p-price__header">
  <%- include('../project/_p-section-head',{modifier:'', title:'料金について', en:'price'}) %>
  </div>
  <div class="p-price__text">
    <p><%- priceText1 %><br><%- priceText2 %></p>
  </div>
  <div class="p-price__items">
    <%- include('../project/_p-page-corporate-price-card') %>
  </div>
</div>