<div class="p-service">
  <div class="p-service__header">
  <%- include('../project/_p-section-head',{modifier:'', title:'サービス内容', en:'service'}) %>
  </div>
  <div class="p-service__text">
    <p><%- serviceTopText1 %><br><%- serviceTopText2 %></p>
  </div>
  <div class="p-service__box">
    <%- include('../project/_p-service-contents') %>
  </div>
</div>