<div class="p-top-mv">
  <div class="p-top-mv__container">
    <div class="p-top-mv__text">
      <div class="p-top-mv__title">
        <div>経営者の方に寄り添い、良きパートナーとして</div>
        <div><span>夢</span>と<span>理念</span>の<span>実現</span>を全力でバックアップします。</div>
      </div>
      <span class="p-top-mv__subtitle">sample accounting office</span>
    </div>
  </div>
</div>