<div class="p-top-concept l-top-concept">
  <div class="p-top-concept__inner l-inner">
    <%- include('../project/_p-section-head',{modifier:'', title:'私たちについて', en:'concept'}) %>
    <div class="p-top-concept__text">
      <p>これはダミーテキストです。●●会計事務所のコンセプトや理念を伝える文章が入ります。これはダミーテキストです。●●会計事務所のコンセプトや理念を伝える文章が入ります。これはダミーテキストです。●●会計事務所のコンセプトや理念を伝える文章が入ります。これはダミーテキストです。●●会計事務所のコンセプトや理念を伝える文章が入ります。これはダミーテキストです。●●会計事務所のコンセプトや理念を伝える文章が入ります。これはダミーテキストです。●●会計事務所のコンセプトや理念を伝える文章が入ります。これはダミーテキストです。●●会計事務所のコンセプトや理念を伝える文章が入ります。これはダミーテキストです。●●会計事務所のコンセプトや理念を伝える文章が入ります。</p>
    </div>
    <div class="p-top-concept__btn">
    <%- include('../component/_c-btn-blue',{text:'More', link:'#'}) %>
    </div>
  </div>
</div>