<div class="p-top-other l-top-other">
  <div class="p-top-other__inner l-inner">
    <div class="p-top-other__header">
    <%- include('../project/_p-section-head',{modifier:'', title:'その他のサポート', en:'other support'}) %>
    </div>
    <p class="p-top-other__text">その他、法人・企業、個人事業主の経営サポートなども行っておりますのでお気軽にご相談くださいませ！</p>
    <div class="p-top-other__contents">
      <div class="p-top-other__item">
        <%- include('../project/_p-card.ejs',{
          image:'icon-building.png',
          alt:'',
          title:'法人のお客様',
          text:'顧問契約や、経費削減、節税など経営に関わるご相談やお悩みをお聞かせください。',
          text2:'最適なご提案をさせていただきます。',
        }) %>
      </div>
      <div class="p-top-other__item">
        <%- include('../project/_p-card.ejs',{
          image:'icon-user.png',
          alt:'',
          title:'個人事業主のお客様',
          text:'個人では面倒な手続きや経営についてのご相談実際に数字を見て分析や今後の方向性など様々なお悩みに対応可能です。',
          text2:'',
        }) %>
      </div>
    </div>
  </div>
</div>