<div class="p-top-hojin l-top-hojin">
  <div class="p-top-hojin__inner l-inner">
    <div class="p-top-hojin__box">
      <div class="p-top-hojin__header">
      <%- include('../project/_p-section-head',{modifier:'p-section-head--left', title:'法人設立をお考えの方', en:'entrepreneurship support'}) %>
      </div>
      <div class="p-top-hojin__text">
        <p>●●会計事務所ではこれからお店を開く、起業するといった方の法人設立のお手伝いをさせていただきます。<br>
        面倒な書類作成の代行や、税務署への届出など、当事務所におまかせください！<br>
        また、設立時だけでなく営業開始後のお手伝いや顧問契約も承っております。<br>
        お気軽にお問い合わせくださいませ。</p>
      </div>
      <div class="p-top-hojin__btn">
        <%- include('../component/_c-btn-white',{text:'More', link:'#'}) %>
      </div>
    </div>
  </div>
</div>