<div class="p-voice">
  <div class="p-voice__header">
  <%- include('../project/_p-section-head',{modifier:'', title:'お客様の声', en:'voice'}) %>
  </div>
  <div class="p-voice__info">
    <p><%- voiceAddress %><br><%- voiceName %></p>
  </div>
  <div class="p-service__box">
    <%- include('../project/_p-voice-media') %>
  </div>
</div>