<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- ヘッダー -->
    <%- include('./common/_top-header') %>

    <!-- メインビュー -->
    <%- include('./project/_p-about-mv') %>


    
    <!-- フッター -->
    <%- include('./common/_footer') %>

  </body>
  </html>
